@model List<RunnerViewModel>

@{
    ViewData["Title"] = "Running Diary";
    TempData["Index"] = 1;
}
<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <hr />


    <p><a asp-controller="Home" asp-action="Add" class="btn btn-dark">Add Runner</a></p><br />

    <p>
        <form asp-controller="Home" asp-action="Index">
            <input type="text" name="FilterString" />
            <button type="submit" class="btn btn-dark">Filter</button>
        </form>
    </p>

    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Index
                    </th>
                    <th scope="col">
                        FirstName
                    </th>
                    <th scope="col">
                        LastName
                    </th>
                    <th scope="col">
                        Address
                    </th>
                    <th scope="col">
                        Actions
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var runner in Model)
                {
                    <tr>
                        <th scope="row">@int.Parse(TempData["Index"].ToString())</th>
                        <td>@runner.FirstName</td>
                        <td>@runner.LastName</td>
                        <td>@runner.Address</td>
                        <td>
                            <a asp-area="" asp-controller="Home" asp-action="View" asp-route-runnerId="@runner.Id">View</a>
                            |
                            <a asp-area="" asp-controller="Home" asp-action="Delete" asp-route-runnerId="@runner.Id">Delete</a>
                            |
                            <a asp-area="" asp-controller="Home" asp-action="Edit" asp-route-runnerId="@runner.Id">Edit</a>
                        </td>
                    </tr>
                    TempData["Index"] = int.Parse(TempData["Index"].ToString()) + 1;
                }
            </tbody>
        </table>
    </div>
</div>