@model WorkoutViewModel

@{
    ViewData["Title"] = Model.TypeOfWorkout;
    TempData["Index"] = 1;
}
<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <hr />

    <p><a asp-controller="Exercise" asp-action="Add" class="btn btn-dark">Add Exercise</a></p>

    <div>
        <p>Description: @Model.Description <br /></p>
        <p>Date Of Workout: @Model.DateOfWorkout.ToShortDateString() <br /></p>
    </div>

    <p><a asp-controller="Workout" asp-action="Index" asp-route-runnerId="@int.Parse(TempData["RunnerId"].ToString())" class="btn btn-dark">Back to workouts</a></p>

    <p>
        <form asp-controller="Exercise" asp-action="Index" asp-route-workoutId="@Model.Id" asp-route-runnerId="@int.Parse(TempData["RunnerId"].ToString())">
            <input type="text" name="FilterString" />
            <button type="submit" class="btn btn-dark">Filter</button>
        </form>
    </p>

    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Index
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Distance
                    </th>
                    <th scope="col">
                        Actions
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var exercise in Model.Exercises)
                {
                    <tr>
                        <td>@int.Parse(TempData["Index"].ToString())</td>
                        <td>@exercise.Name</td>
                        <td>@exercise.Distance</td>
                        <td>
                            <a asp-area="" asp-controller="Exercise" asp-action="Delete" asp-route-exerciseId="@exercise.Id">Delete</a>
                            |
                            <a asp-area="" asp-controller="Exercise" asp-action="Edit" asp-route-exerciseId="@exercise.Id">Edit</a>
                        </td>
                    </tr>
                    TempData["Index"] = int.Parse(TempData["Index"].ToString()) + 1;
                }
            </tbody>
        </table>
    </div>
</div>